@model ExtraViewModel

<h1>Edit @Model.Name</h1>
<form asp-action="Edit" asp-controller="Extra" method="post">
    <input type="hidden" value="@Model.Id" asp-for="@Model.Id"/>
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" type="text" class="form-control" value="@Model.Name">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" type="number" step="any" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-success form-group mt-3">Save</button>
</form>